.chat-body
  .chat-body--name
    = message.user.name
  .chat-body--time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat-body--message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

-# .chat-body{data: {id: "#{message.id}"}}
-#   .chat-body--name
-#     = message.user_name
-#   .chat-body--time
-#     = message.created_at
-#   .chat-body--message
-#     - if message.body.present?
-#       .chat-body--message__content
-#         = message.body
-#     = image_tag message.image_url, class: 'chat-body--message__content__image' if message.image_url.present?

