.main-content
  .main-content__header
    .main-content__header__name
      %h1 
        = @group.name
      %p Members:
      - @group.users.each do |user|
        %span
          = user.name

    .main-content__header__edit-btn
      = link_to "Edit", edit_group_path(@group), class: 'main-content__header__edit-btn__inside' 
  
  .main-content__chat-contents
    = render @messages

  .main-content__footer
    .main-content__footer__center
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main-content__footer__center__message', placeholder: 'type a message'
        = f.label :image, class: 'main-content__footer__center__message__file' do
          = fa_icon 'picture-o' , class: 'icon'
          = f.file_field :image, class: '', style: "display:none;"
        = f.submit 'Send', class: 'main-content__footer__center__submit-messages'